<h1><%= @category.name %></h1>

<h3><%#= pluralize(@category.events.count, 'Event') %></h3>
<ul>
    <%# @category.events.each do |e| %>
        <%#= link_to e.title, event_path(e) %>
    <%# end %>
</ul>
