
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Events</title>
    <link rel="stylesheet" href="#">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
</head>

<body>
    <div>
    <br>
        <h1 class="animate__animated animate__fadeIn">Sign Up</h1>
        <p>Already on board? <%= link_to "Log In", '/login' %></p>

        <%= render 'form' %>

    </div>
</body>