
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Social Justice Events</title>
      <link rel="stylesheet" href="app/welcome.scss">
  </head>
  <br></br>
  <br></br>
  <body class="image">
      <div>
        <div class="card" style="width: 18.9rem;">
          <div class="card-image"></div>
            <div class="card-text">
              <span class="date">We&#39;re Here To Make Change</span>
                <div class="container">
                  <span class="text1">Welcome</span>
                  <span class="text2">-</span>
                </div>
              <h2>Sign Up & Tune In</h2>
              <p>All across America,<br>WE, THE PEOPLE<br> are standing up for the causes <br> and the people that matter most to us.</p>
            </div>
            <div class="card-stats">
              <div class="stat">
                <br>
                <h5><%= link_to "Sign Up", '/signup' %></h5><br>
              </div>
              <div class="stat">
                <p><%= link_to "Login via Github", "/auth/github" %></p>
              </div>
              <div class="stat"><br>
                <h5><%= link_to "Log In", '/login' %></h5><br>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
