<div class="container">
<br>
    <h1>Edit Event</h1>
    <p>Go to <%= link_to "All Events", events_path %></p>

    <%= render 'form' %>

    <%= form_with model: @event , method: "delete" do %>
        <%= submit_tag "Delete Event" %>
    <% end %>

</div>