<div class="container">
<br>
<%= link_to "Create New Event", new_event_path %>
<br>
    <h1>Upcoming Events</h1>

    <% @events.each do |event| %>
        <%= link_to event.title, event_path(event) %><br>
    <% end %>


  
</div>
<br></br>
<br></br>
<p> You're logged in as: <%= link_to current_user.username, user_path(current_user) %><br>
<%= link_to "Log Out", logout_path %></p><br> 