<div>
<br>
    <div>
        <h1>Search Results</h1>
    </div>
<br>

    <div>
        <% @events.each do |event| %>
            <%= link_to event.title, event_path(event) %> -
            <% ed = event.date %>
            <%= ed.strftime("%m/%d/%Y") %><br>

        <% end %>
    </div>
    
    <br></br>
    <br></br>

</div>