<div>


    <div>
    <br>
        <% if flash[:message] %>
        <p style="color:#FF0000";><%= flash[:message] %></p>
        <% end %>
    </div>

    <br></br>
    <h3 style="color:#FFFFFF";>Other Events You Have RSVP'd To:</h3>
    <br>
    
    
        <% @users_events.each do |ue| %>
            <%# byebug %>
            <% if ue.user_id == current_user.id %>
                <%= ue.event[:title] %> -<%= ue.comment %><br>
                <%= button_to "Delete RSVP", users_event_path(ue), method: :delete %><br>
            <% end %>
        <% end %>
   


    <br></br>
    <br></br>

</div>

