    <div>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c49102;">
          <a class="navbar-brand" style="color: white;" href="/">Social Justice Events</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" style="color: #2B4D59;" href="<%= root_path %>">HOME<span class="sr-only">(current)</span></a>
              </li>
              <% if current_user != nil %>
                <li class="nav-item">
                <a class="nav-link" style="color: #2B4D59;" href="<%= user_path(current_user.id) %>">DASHBOARD<span class="sr-only">(current)</span></a>
                </li>
              <% end %>
              <li class="nav-item">
                <a class="nav-link" style="color: #2B4D59;" href="/events">ALL EVENTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: #2B4D59;" href="/events/new">CREATE EVENT</a>
              </li>
            </ul>
          </div>
        </nav>
    <div>
